h1, h2, h3, h4 {
  /* margin-bottom: 1em; */
}

table, table td, table th {
  border: 2px solid #fff;
  font-size: 15px;
  background-color: #eaf8ff;
  padding: .3em .7em;
}

section, .content {
  line-height: 1.4;
}

@media (min-width:500px)  {
  img.poster {
    max-width: 260px;
    float: left;
    margin: 0px 15px 15px 0px;
  }
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  clear: both;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.full-width {
  max-width: 100%;
  float: left;
  margin: 0px 15px 15px 0px;
}


.infobox {
  border: 2px solid #62cbc0;
  border-spacing: 3px;
  background-color: #eaf8ff;
  color: black;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right;
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
  width: 100%;
  box-shadow: 4px 4px 2px #f49fe6;
}

@media (min-width:590px)  {
  .infobox {
    width: 20em;
  }
}

.infobox-center {
  text-align: center
}

.infobox-title {
  font-weight: bold;
  text-align: center;
  font-size:110%;
  font-style:italic;
}

.infobox-poster {
  /* width="180" height="268" */
}

.infobox td, .infobox th {
  border: 0px;
  padding: 0.4em 0.65em;
  vertical-align: top;
}

.infobox-label {
  min-width: 9rem;
  max-width: 10rem;
}

.infobox p {
  margin-bottom: 8px;
}

#q-and-a li {
  margin: 0 0 10px 0;
}